<div>
  {{#each albums}}
    <div>
      <img src="{{this.images.0.url}}" alt="{{this.name}}" />
    </div>
    <p>
      {{this.name}}
    </p>

    <a href="/tracks/{{this.id}}">View Tracks</a>

  {{/each}}
</div>