<div>
  {{#each artists}}
    <div>
      <img src="{{this.images.0.url}}" alt="{{this.name}}" />
    </div>
    <p>
      {{this.name}}
    </p>
    
    <a href="/albums/{{this.id}}">View Albums</a>
    
  {{/each}}
</div>