<body class="background-img">
  <div class="caixa-branca d-flex justify-content-center">
    <div class="choose-artist text-nowrap bd-highlight">
      <form action="/artist-search" , method="GET">
        <input class="input-text" type="text" name="artistName"/>
        <div class="button-div">
          <button class="button-submit" type="submit">Search for an Artist</button>
        </div>
    </div>
  </div>
      </form>
</body>