* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 900px;
    border: none;
    background-size: cover;
    background-image: url("/images/spotify-background.jpeg");
}
.button-submit {
  background-color: rgb(218, 92, 92);
  border: none;
  color: white;
}
.button-div {
  background-color: rgb(218, 92, 92);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 225px;
  margin-left: 110px;
}
.input-text {
  width: 450px;
  margin-bottom: 10px;
}